## =========================
## Visual Studio / C#
## =========================

# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# Rider / JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet
packages/
*.nupkg
.nuget/

# Publish
publish/

# Test results
TestResults/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Backup & temp
*.bak
*.tmp
*.temp

# DotCover
*.dotCover

# Coverage
coverage/
